# Ignore local Jekyll builds
_site/
.jekyll-cache/
.jekyll-metadata

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore dependencies
Gemfile.lock
node_modules/
vendor/

# Ignore IDE files
.vscode/
.idea/
*.swp
*.swo
*~